/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.lingra {
  background-image: linear-gradient(to right, black, greenyellow);
}
.mar-pad {
  margin: 2%;
  padding: 2%;
}
.shad {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  font-size: 20px;
}
/*
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .mar-pad();
  .lingra();
  .shad();
  color: white;
}*/
nav {
  display: flex;
  justify-content: space-around;
}
.button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: blue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: yellow;
  color: red;
}
a {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: blue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a:hover {
  background-color: yellow;
  color: red;
}
.button1 {
  border-radius: 8px;
}
.button2 {
  border-radius: 50%;
}
.button3 {
  border-radius: 8px;
}
.button5 {
  border-radius: 50%;
}
/* {
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:350px;
	height:350px;
	border-radius:175px;
	text-align:center;
	
	
	.mar-pad();
	.lingra();
	.shad ();
	}
	
	.heading {
		width:40%;
		height:40%;
		color:white;
		text-align:center;
		.shad();
		
	} */
.sec-1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: orange;
  margin: 2%;
  padding: 2%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
  padding: 2%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.par {
  margin: 2%;
  padding: 2%;
}
.pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  padding: 2%;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  color: white;
}
.image {
  width: 25%;
}
.image2 {
  width: 25%;
  border-radius: 50%;
}
.cont {
  width: 100%;
  background-color: grey;
}
.html {
  width: 90%;
  background-color: #4caf50;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.sec-about {
  width: 90%;
  display: flex;
  margin: 2%;
  padding: 2%;
}
.img-about {
  width: 50%;
  border-radius: 45%;
}
.div-about {
  width: 45%;
  margin: 2%;
  padding: 2%;
}
.div-about2 {
  width: 40%;
  margin: 2%;
  padding: 2%;
  background-image: linear-gradient(to right, black, greenyellow);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
